body{
	/* width: 1920px; */
	font-family: 'Noto Sans KR', sans-serif;
	font-family: 'Roboto', sans-serif;
  /* width: 1920px; */
	overflow-x: hidden;
	background: #fdaf27;
}
.wwrap{
	width: 1520px;
	margin:0 auto;
}

.main{
  width: 100%;
	height: 1080px;
}

.toptext{
	position: absolute;
  top: -10px;
	z-index: 100;

	transform: translateY(0);
	transition: all 1s cubic-bezier(0.23, 0.19, 0.09, 1.05);
	animation: top 0.4s linear 1;
}

@keyframes top {
	0% { transform: translateY(-130px);}
  100% { transform: translateY(0);}
}



.left{
	display: inline-block;
	width: 50%;
	position: relative;
	top: 260px;
	left: 0;
	text-align: left;
	z-index: 100;
	/* background-image: url(../img/title2.png); */
	/* z-index: 20; */
}
.left div{
	overflow: hidden;
}
.left div:nth-child(1){
	margin-bottom: 10px;
}
.left div:nth-child(2){
	margin-bottom: 18px;
}
.left div:nth-child(3){
	margin-bottom: 120px;
}


.left .one{
	position: relative;
	top: 0;
	left: 0;
	transform: translateY(0);
	transition: all 1s cubic-bezier(0.23, 0.19, 0.09, 1.05);
	animation: one 2.2s linear 1;
	/* animation-delay: 2s; */
}
@keyframes one {
  0% { transform: translateY(130px);}
	66% { transform: translateY(130px);}
  100% { transform: translateY(0);}
}


.left .two{
	display: block;
	position: relative;
	top: 0;
	left: 0;
	transform: translateY(0);
	transition: all 1s cubic-bezier(0.23, 0.19, 0.09, 1.05);
	animation: two 3s linear 1;
	/* animation-delay: 3s; */
}

@keyframes two {
  0% { transform: translateY(130px); }
	75% { transform: translateY(130px); }
  100% { transform: translateY(0); }
}

.left .three{
	/* display: none; */
	transform: translateY(0);
	transition: all 1s cubic-bezier(0.23, 0.19, 0.09, 1.05);
	animation: three 4s linear 1;
	/* animation-delay: 4s; */
}
@keyframes three {
  0% { transform: translateY(110px); display: none;}
	80% { transform: translateY(110px); display: none;}
  100% { transform: translateY(0); display: block;}
}

.left .four{
	opacity: 1;
	transform: translateX(0);
	transition: all 1s cubic-bezier(0.23, 0.19, 0.09, 1.05);
	animation: four 4.3s linear 1;
	/* animation-delay: 5s; */
}
@keyframes four {
	0% { transform: translateX(50px); opacity: 0;}
  84% { transform: translateX(50px); opacity: 0;}
  100% { transform: translateX(0); opacity: 1;}
}

.right{
	display: inline-block;
	width: 49%;
	position: relative;
	top: 240px;
	z-index: 100;
	opacity: 1;
	transform: translateX(0);
	transition: all 1s cubic-bezier(0.23, 0.19, 0.09, 1.05);
	animation: right 1.5s linear 1;
	/* animation-delay: 1s; */
	overflow: hidden;
}
@keyframes right {
	0% { transform: translateX(80px); opacity: 0;}
  50% { transform: translateX(80px); opacity: 0;}
  100% { transform: translateX(0); opacity: 1;}
}
.right .man{
	position: relative;
	right: -30px;
	z-index: 110;
  vertical-align: bottom;
  bottom: -11px;
}
.right .app{}


.video{
	width: 342px;
	position: absolute;
	height: 750px;
	overflow: hidden;
	top: 10px;
	border-radius: 15px;
	border: 1px black;
	right: 99px;
	z-index: -10;
}

.video video{
	width: 100%;
  border-radius: 20px;
  position: absolute;
  top: -30px;
  right: 0;
}



.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
	z-index: 100;
	position: absolute;
	top: 50%;
	left: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.intro{
	position: absolute;
  top: 0;
  width: 100vw;
  /* height: 100vh; */
	height: 1080px;
  z-index: 9;
	background-image: url(../img/back.jpg);
	background-size: contain;
	/* animation: start 1s linear 1; */
}

/* @keyframes start {
  0% { top: -1080px;}
  100% { top: 0;}
} */







::-webkit-scrollbar {width: 8px;}

::-webkit-scrollbar-track {
	position: absolute;
  /* opacity: 0; */
  z-index: 100;
	background: rgba(222, 222, 222, .75);
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.5s 0.5s ease-out;
  transition: opacity 0.5s 0.5s ease-out;

}

::-webkit-scrollbar-thumb {
	width: 8px;
	height: 8px;
	background: rgba(0, 0, 0, .5);
	border-radius: 4px;
	z-index: 120;
}

/* ::-webkit-scrollbar-thumb:hover {background: #555;} */



.cont{
	width: 100vw;
	position: relative;
  left: -4px;
}

.cont>img{
	width: 100vw;
}
.cont .cont_01>img{
	width: 100vw;
}

.cont .cont_01{
	/* position: absolute; */
}

.cont .cont_01 .diagram{
	position: absolute;
	top: 0;
	left: 0;

}
.cont .cont_01 .diagram .dia{
	position: absolute;
	transform: translateX(0%);
  opacity: 0;
  transition: 1s;
}

.cont .cont_01 .diagram .dia.dia_01{
  top: 542px;
  left: 540px;
}
.cont .cont_01 .diagram .dia.dia_02{
  top: 542px;
  left: 804px;
	animation-delay: 0.4s;
}
.cont .cont_01 .diagram .dia.dia_03{
  top: 542px;
  left: 1066px;
	animation-delay: 0.8s;
}


.cont .cont_01 .dia.view{
  animation: move 0.5s linear 0s;
  animation-fill-mode: backwards;
  opacity: 1;
}
.cont .cont_01 .dia_03.view{
  animation: move 0.5s linear 0s;
  animation-fill-mode: backwards;
  opacity: 1;
}

@keyframes move{
  from{
      transform: translateX(-50%);
      opacity: 0;
  }
  to{
      transform: translateX(0%);
      opacity: 1;
  }
}
@keyframes rmove{
  from{
      transform: translateX(0%);
      opacity: 1;
  }
  to{
      transform: translateX(100%);
      opacity: 1;
  }
}

.arr{
	position: absolute;
	top: 671px;
	right: 460px;
	animation: go 1s linear infinite;
	z-index: 100;
}

@keyframes go {
  0% { transform: translateX(-300%); }
  100% { transform: translateX(300%); }
}

.arr .u{
	width: 4px;
	height: 25px;
	background-color: #000;
	transform: rotate(-45deg) translate(-7px, 7px);
}
.arr .n{
	width: 4px;
	height: 25px;
	background-color: #000;
	transform: rotate(45deg);
}

.cont_02{
	background: url(../img/2.모바일_03-05.jpg);
	height: 1080px;
	/* padding-top: 80px; */
}
.cont-top{
	display: inline-block;
	padding-top: 80px;
}
.cont-top p{
	font-size: 20px;
  font-weight: 900;
	letter-spacing: 4px;
  display: inline-block;
  float: left;
}
.cont-top p:nth-child(2){
  float: right;
}

.swiper {
	width: 1630px;
	margin:0 auto;
  /* width: 100%;
  height: 100%; */
	/* width: 1920px; */
  height: 810px;
	background-color: #0000;
	margin-top: 35px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
	width: 1520px;
}
div.swiper-pagination{
	z-index: 110;
	width: 80px;
}
#swiper-pagination-me{
	top: 600px;
	left: 50px;

}
.swiper-pagination span.swiper-pagination-bullet{
	width: 30px;
  height: 30px;
  background: #000;
	opacity: 1;
}
#swiper-pagination-me span.swiper-pagination-bullet{
	margin: 0 25px;
	margin-bottom: 240px;
}
#swiper-pagination-me span.swiper-pagination-bullet-active{
	margin: 0;
	margin-bottom: 240px;
	background-position: center;
	background-image: url(../img/page_01.png);
}
#swiper-pagination-me span.swiper-pagination-bullet-active:nth-child(2){
	background-image: url(../img/page_02.png);
}
#swiper-pagination-me span.swiper-pagination-bullet-active:nth-child(3){
	background-image: url(../img/page_03.png);
}
.swiper-pagination span.swiper-pagination-bullet-active{
	background: #fff;
	border: 3px solid #000;
  width: 80px;
  height: 80px;
}

.swiper-bar{
	width: 4px;
  height: 600px;
  background: #000;
  position: absolute;
  top: 190px;
  left: 87px;
  z-index: 100;
}

.add{
	position: absolute;
	top: 310px;
	right: 0;
}
.add img{
	width: 105px;
	animation: uup 1s linear 1;
	opacity: 0;
}
.add2{
	top: 50px;
}
.add2 img{
	width: 175px;
}
.add img.on {
	animation: uup 1s linear 1;
	opacity: 1;
}
@keyframes uup {
  from{
      transform: translateY(-10%);
      opacity: 0;
  }
  to{
      transform: translateY(0%);
      opacity: 1;
  }
}


.cont_00{
	height: 1080px;
}
.cont_03, .cont_04{
	background-color: #f6f5f0;
}

.cont_title{
	margin-top: 10px;
}
.cont_title, .cont_title p{
	font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;
	font-size: 80px;
	display: inline-block;
  text-align: left;
	letter-spacing: -1.6px;
}
.cont_03 h2 p{
	color: #fdaf27;
	margin-top: 0;
}
.cont_05 .cont_title, .cont_title p{
	color: #f6f5f0;
}
.cont_05 .cont_title p{
	color: black;
}

.cont_00 img{
	position: relative;
  top: -230px;
	opacity: 0;
}
.cont_03 img{}
.cont_04 img, .cont_06 img, .cont_07 img{
	top: -110px;
}
.cont_05 img{}
.cont_06 img{}
.cont_06{
	background: url(../img/back_stripe.png);
	width: 100vw;
	height: 1080px;
}
.cont_07{
	background: url(../img/back_007.png);
	width: 100vw;
	height: 1080px;
	background-color: white;
}

.cont_00 img.on {
	animation: uup 1s linear 1;
	opacity: 1;
}
@keyframes uup {
  from{
      transform: translateY(-10%);
      opacity: 0;
  }
  to{
      transform: translateY(0%);
      opacity: 1;
  }
}
