body{
	/* width: 1920px; */
	font-family: 'Noto Sans KR', sans-serif;
	font-family: 'Roboto', sans-serif;
}

.top{
	display: block;
	margin-top: 48px;
	z-index: 3;
}
.textbox{
	width: 1600px;
	display: inline-block;
	margin-top: 165px;
	padding-left: 38px;
}


.textbox .page{
	text-align: left;
}
.textbox .page div {
	display: inline;
	font-family: 'Roboto', sans-serif;
	color: #6D6B6C;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 7px;
}

.textbox .page .white{
	color: #D5D1D4;
	font-weight: 900;
}

.textbox .page .box{
  display: inline-block;
	width: 100px;
	height: 2px;
	background-color: #707070;
	margin: 8px 32px;
}

.textbox .page .box .box-one{
  position: relative;
	top: 0;
	left: 0;
	display: inline-block;
	width: 30px;
	height: 2px;
	background-color: #eeeeee;
	animation: one 2s ease-out forwards;
	animation-delay: 1s;
}

@keyframes one {
	from{

	}
	to{
		width: 100px;
	}
}


.textbox h1{
	text-align: left;
	margin-top: 64px;
}
.textbox h1{
	opacity: 1;
	/* transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: linear; */
}

/* .textbox h1:hover{
	opacity: 1;
} */



.textbox h1>div{
	text-align: left;
  font-size: 117px;
  font-weight: 600;
	line-height: 1.22;
	color: white;
	/* opacity: 0;
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: linear; */
}

/* .textbox h1>div:hover{
	opacity: 1;
}

.textbox h1 .dowm{
	transition-delay: 0.5s;
} */


.textbox h1 .down{
	position: relative;
	top: 0;
	left: 0;
	/* opacity: 0;
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: linear;
	transition-delay: 0.5s; */
}

/* .textbox h1 .down:hover{
	opacity: 1;
} */

.up{
	position: relative;
	top: 0;
	left: 0;
	opacity: 0;
	animation: up 1s ease forwards;
}
@keyframes up {
	from{}
	to{
		opacity: 1;
	}
}

.down{
	position: relative;
	top: 0;
	left: 0;
	opacity: 0;
	animation: down 1s ease 0.5s forwards;
}
@keyframes down {
	from{}
	to{
		opacity: 1;
	}
}




.cont{
	width: 1600px;
	display: inline-block;
	text-align: left;
}

.cont .scroll{
	position: fixed;
	top: 690px;
  left: 1407px;
	z-index: 4;
	animation-name: scroll-gg;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes scroll-gg {
	from{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(180deg);
	}
	to{
		transform: rotate(360deg);
	}
}

.cont .text{
	position: fixed;
	top: 570px;
  right: 497px;
	z-index: 2;
	opacity: 0;
	animation: sss 1s ease 0.5s forwards;
	animation-delay: 1s;
}
@keyframes sss {
	from{}
	to{
		opacity: 1;
	}
}

.cont .line{
	position: fixed;
	top: -40px;
	left: 120px;
	z-index: -10;
}

.cont .back{
	display: none;
}


.cont .footerr{
	opacity: 0;
}

.cont .footer{
	position: absolute;
  bottom: 65px;
}
.cont .footer li{
	display: inline-block;
	font-size: 15px;
	font-weight: 500;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	margin-right: 60px;
}
.aaa{
	display: inline-block;
	margin-top: 3px;
	margin-left: 6px;
	font-size: 10px;
	font-weight: 600;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
}


body #bg{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	z-index: -100;
	background: url(.img/kv_bg.jpg) left top no-repeat;
	background-size: cover;

}
