body{
	font-family: 'Noto Sans KR', sans-serif;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	background: #fdaf27;
}

.en{font-family: 'Roboto', sans-serif;}
.kr{font-family: 'Noto Sans KR', sans-serif;}
.yellow{color: #fcae27}
.beige{color: #f6f5f0}
.black{color: #000}

.wwrap{width: 1520px;	margin:0 auto;}

/* 스크롤바 */
::-webkit-scrollbar {width: 8px;}

::-webkit-scrollbar-track {
	position: absolute;
  /* opacity: 0; */
  z-index: 100;
	background: rgba(222, 222, 222, .75);
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.5s 0.5s ease-out;
  transition: opacity 0.5s 0.5s ease-out;
}

::-webkit-scrollbar-thumb {
	width: 8px;
	height: 8px;
	background: rgba(0, 0, 0, .5);
	border-radius: 4px;
	z-index: 120;
}

::-webkit-scrollbar-thumb:hover {background: #555;}


/* 메인 */
.main{
  width: 100vw;
	height: 1080px;
	background-image: url(../img/back.jpg);
	background-size: contain;
}

.toptext{
	position: absolute;
  top: -10px;
	z-index: 100;
	transform: translateY(0);
	transition: all 1s cubic-bezier(0.23, 0.19, 0.09, 1.05);
	animation: top 0.4s linear 1;
}
@keyframes top {
	0% { transform: translateY(-130px);}
  100% { transform: translateY(0);}
}

.left{
	display: inline-block;
	width: 50%;
	position: relative;
	top: 260px;
	left: 0;
	text-align: left;
	z-index: 100;
}
.left div{overflow: hidden;}
.left div:nth-child(1){ margin-bottom: 10px;}
.left div:nth-child(2){	margin-bottom: 18px;}
.left div:nth-child(3){	margin-bottom: 120px;}

.left div img{
	position: relative;
	top: 0;
	left: 0;
	/* transform: translateY(0); */
	transition: all 1s cubic-bezier(0.23, 0.19, 0.09, 1.05);
}
.left div .one{ animation: main-title 2s linear 1;}
.left div .two{	animation: main-title 2.8s linear 1;}
.left div .three{	animation: main-title 3.3s linear 1;}
@keyframes main-title {
  0% { transform: translateY(130px);}
	50% { transform: translateY(130px);}
	75% { transform: translateY(0);}
  100% { transform: translateY(0);}
}

.left div .four{ animation: four 3s linear 1;}
@keyframes four {
	0% { transform: translateX(40px); opacity: 0;}
  80% { transform: translateX(40px); opacity: 0;}
  100% { transform: translateX(0); opacity: 1;}
}

.right{
	display: inline-block;
	width: 49%;
	position: relative;
	top: 240px;
	z-index: 100;
	opacity: 1;
	transform: translateX(0);
	transition: all 1s cubic-bezier(0.23, 0.19, 0.09, 1.05);
	animation: right 1s linear 1;
	overflow: hidden;
}
@keyframes right {
	0% { transform: translateX(80px); opacity: 0;}
  50% { transform: translateX(80px); opacity: 0;}
  100% { transform: translateX(0); opacity: 1;}
}

.right .man{
	position: relative;
	right: -30px;
  bottom: -11px;
	z-index: 110;
  vertical-align: bottom;
}
.right .app{}
.right .video{
	width: 340px;
	position: absolute;
	height: 750px;
	overflow: hidden;
	top: 10px;
	border-radius: 15px;
	border: 1px black;
	right: 101px;
	z-index: -10;
}

.right .video video{
	width: 100%;
  border-radius: 20px;
  position: absolute;
  top: -30px;
  right: 0;
}



/* .loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
	z-index: 100;
	position: absolute;
	top: 50%;
	left: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */


/* 컨텐츠 */
.cont{
	position: relative;
}

.cont .cont_01{}
.cont .cont_01 .diagram{
	position: absolute;
	top: 0;
	left: 0;
}
.cont .cont_01 .diagram .dia{
	position: absolute;
	top: 542px;
	transform: translateX(0%);
  opacity: 0;
  transition: 1s;
}
.cont .cont_01 .diagram .dia.dia_01{ left: 540px;}
.cont .cont_01 .diagram .dia.dia_02{ left: 804px;	animation-delay: 0.4s;}
.cont .cont_01 .diagram .dia.dia_03{ left: 1066px; animation-delay: 0.8s;}
.cont .cont_01 .dia.view{
  animation: dia-move 0.5s linear 0s;
  animation-fill-mode: backwards;
  opacity: 1;
}
@keyframes dia-move{
  from{
    transform: translateX(-50%);
    opacity: 0;
  }
  to{
    transform: translateX(0%);
    opacity: 1;
  }
}
/* @keyframes rmove{
  from{
    transform: translateX(0%);
    opacity: 1;
  }
  to{
    transform: translateX(100%);
    opacity: 1;
  }
} */

.cont .cont_01 .arr{
	position: absolute;
	top: 671px;
	right: 460px;
	animation: go 1s linear infinite;
	z-index: 100;
}
@keyframes go {
  0% { transform: translateX(-300%); }
  100% { transform: translateX(300%); }
}
.cont .cont_01 .arr div{
	width: 4px;
	height: 25px;
	background-color: #000;
}
.cont .cont_01 .arr .u{	transform: rotate(-45deg) translate(-7px, 7px);}
.cont .cont_01 .arr .n{	transform: rotate(45deg);}



.cont_02{
	background: url(../img/2.모바일_03-05.jpg);
	height: 1080px;
}
.cont-top{
	display: inline-block;
	padding-top: 80px;
}
.cont-top p{
	font-size: 20px;
  font-weight: 900;
	letter-spacing: 4px;
  display: inline-block;
  float: left;
}
.cont-top p:nth-child(2){
  float: right;
}
.cont-top p.title_text{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: left;
	float: left;
	margin-left: 60px;
}
.cont-top p:nth-child(3){
  float: right;
}

.swiper {
	width: 1630px;
	margin:0 auto;
  height: 810px;
	background-color: #0000;
	margin-top: 35px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
	width: 1520px;
}
div.swiper-pagination{
	z-index: 110;
	width: 80px;
}
#swiper-pagination-me{
	top: 600px;
	left: 50px;

}
.swiper-pagination span.swiper-pagination-bullet{
	width: 30px;
  height: 30px;
  background: #000;
	opacity: 1;
}
#swiper-pagination-me span.swiper-pagination-bullet{
	margin: 0 25px;
	margin-bottom: 240px;
}
#swiper-pagination-me span.swiper-pagination-bullet-active{
	margin: 0;
	margin-bottom: 240px;
	background-position: center;
	background-image: url(../img/page_01.png);
}
#swiper-pagination-me span.swiper-pagination-bullet-active:nth-child(2){
	background-image: url(../img/page_02.png);
}
#swiper-pagination-me span.swiper-pagination-bullet-active:nth-child(3){
	background-image: url(../img/page_03.png);
}
.swiper-pagination span.swiper-pagination-bullet-active{
	background: #fff;
	border: 3px solid #000;
  width: 80px;
  height: 80px;
}

.swiper-bar{
	width: 4px;
  height: 600px;
  background: #000;
  position: absolute;
  top: 190px;
  left: 87px;
  z-index: 100;
}

.add{
	position: absolute;
	top: 310px;
	right: 0;
}
.add img{
	width: 105px;
	animation: uup 1s linear 1;
	opacity: 0;
}
.add2{
	top: 50px;
}
.add2 img{
	width: 175px;
}
.add img.on {
	animation: uup 1s linear 1;
	opacity: 1;
}
@keyframes uup {
  from{
      transform: translateY(-10%);
      opacity: 0;
  }
  to{
      transform: translateY(0%);
      opacity: 1;
  }
}



.cont_00{
	width: 100vw;
	height: 1080px;
}
.cont_00 >img{
	position: relative;
  top: -230px;
	opacity: 0;
}
.cont_00 img.on {
	animation: uup 1s linear 1;
	opacity: 1;
}

.cont_00 .cont_title{
	margin-top: 10px;
}
.cont_00 .cont_title, .cont_title p{
	font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;
	font-size: 80px;
	display: inline-block;
  text-align: left;
	letter-spacing: -1.6px;
}

.cont_03, .cont_04, .cont_10, .cont_11{
	background-color: #f6f5f0;
}

.cont_03 h2 p{ margin-top: 0;}

.cont_03 img{}
.cont_04 img, .cont_06 img, .cont_07 img, .cont_08 img{
	top: -110px;
}
.cont_05 img{}
.cont_06 img{}

.cont_06{
	background: url(../img/back_stripe.png);
}
.cont_07{
	background: url(../img/back_007.png);
	background-color: white;
}
.cont_08{
	height: 2160px;
	background: url(../img/back_008.png);
	position: relative;
}
.cont_08 img:nth-child(2){
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	animation-delay: 1s;
}
.cont_08 img.on:nth-child(2){
	opacity: 1;
}

.cont_09{	background: url(../img/back_008.jpg);}

.cont_10 .cont_left, .cont_10 .cont_right{
	width: 50%;
  float: left;
	text-align: left;
}

.cont_10, .cont_10 img{
	position: inherit;
}
.cont_12{
	background: url(../img/cont12-001.jpg);
}

.cont_14{
	position: relative;
	height: 2160px;
	background: #fff;
	background: url(../img/cont14-001.jpg);
}

.cont_14 .back{
	position: absolute;
	bottom: 0px;
	z-index: 100;
	animation: uuup 3s linear 1;
}
/* @keyframes uuup {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
} */
.circle{
	width: 1000px;
	height: 1000px;
	background: #fcae27;
	border-radius: 500px;
	/* animation: spin 3s linear infinite; */
	z-index: 100;
	/* position: absolute;
	top: 50%;
	left: 50%; */
}
/* @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */
.back p, .back p b{
	text-align: left;
	font-size: 40px;
	font-weight: 500;
}
.back p b{
	font-weight: 900;
}

.explan{
	position: relative;
}
.text_box{
	text-align: right;
	display: inline-block;
	width: 270px;
	position: absolute;
}
.text_box:nth-child(1){
	top: 110px;
  left: 140px;
}
.text_box:nth-child(2){
	top: 500px;
  left: 140px;
}
.text_box:nth-child(3){
	text-align: left;
	top: 720px;
  right: 140px;
}
.text_box:nth-child(4){
	text-align: left;
	top: 920px;
  right: 140px;
}
.text_box:nth-child(3) .bbar_circle, .text_box:nth-child(4) .bbar_circle{
	left: 0;
	transform: translate(-5px, -5px);
}
.text_box:nth-child(3) .bar_arr, .text_box:nth-child(4) .bar_arr{
	left: -100px;
}

.text_box.on {
	animation: uup 1s linear 1;
	opacity: 1;
}

.text_box h3{
	font-size: 22px;
	color: #303030;
}
.text_box p{
	font-size: 15px;
	font-weight: 400;
	margin-top: 5px;
	color: #494949;
}
.text_box p b{
	font-size: 15px;
}

.bar_arr{
	display: inline-block;
	position: absolute;
  top: 50%;
  right: -100px;
}
.bbar{
	width: 70px;
	height: 1px;
	background: #000;
}
.bbar_circle{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: #000;
	position: absolute;
  right: 0;
  transform: translate(5px, -5px);
}

.cont_13{
	position: relative;
	/* background: #fff; */
}
/* .cont_13 .wwrap:nth-child(3), .cont_13 .wwrap:nth-child(4){
	position: absolute;
	top: 230px;
	left: 50%;
	transform: translate(-50%, 0);
}
.cont_13 .wwrap:nth-child(3){
	z-index: 100;
	position: absolute;
	left: 1130px;
}
.cont_13 .wwrap:nth-child(3) img, .cont_13 .wwrap:nth-child(4) img{
	transform: scale(80%);
} */



.cont_13 img{
	z-index: -100;
}

.cont_13 .wwrap.phone img{
	top: 0;
	left: 165px;
}


.cont_15{
	position: relative;
	background: #fff;
	/* background: url(../img/back_020.png); */
}
.cont_15>img{
	position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
.cont_15 .cont_title, .cont_15 .cont_title p{
	font-size: 70px;
}
.cont_15 .top{
	z-index: 90;
	opacity: 0;
}
.cont_15 .phone_real{
	top: 256px;
  left: 300px;
  z-index: 110;
  width: 357px;
}
.cont_15 .video{
	width: 342px;
  position: absolute;
  height: 750px;
  overflow: hidden;
  top: 268px;
  border-radius: 15px;
  left: 307px;
  z-index: 100;
}

.cont_15 .video video{
	width: 100%;
  border-radius: 20px;
  position: absolute;
  top: -30px;
  right: 0;
}
.cont_15 .text_box{
	z-index: 200;
	width: 360px;
}
.cont_15 .text_box h3{
	font-weight: 900;
}
.cont_15 .text_box:nth-child(1){
	top: 700px;
  left: 560px;
}
.cont_15 .text_box:nth-child(2){
	text-align: left;
	top: -80px;
  left: 1130px;
}
.cont_15 .text_box:nth-child(3){
	text-align: left;
	top: 368px;
  right: -315px;
}
.cont_15 .text_box p{
	font-size: 16px;
	font-weight: 500;
}
.cont_15 .text_box p b{ font-weight: 400}
.cont_15 .bar_arr{ top: 50%; right: -100px}
.cont_15 .text_box:nth-child(2) .bar_arr, .cont_15 .text_box:nth-child(3) .bar_arr{
	left: -100px;
	top: 13px;
}
.cont_15 .text_box:nth-child(1) .bar_arr{	right: -100px}
.cont_15 .bbar.short{	transform: translate(22px, 22px)}
.cont_15 .bbar.long{
	transform: rotate(-60deg) translate(-90px, -18px);
  width: 110px;
}
.cont_15 .bbar_circle{}
.cont_15 .text_box:nth-child(1) .bbar_circle{
	right: 0;
	transform: translate(5px, -5px);
}
.cont_15 .text_box:nth-child(2) .bbar_circle{
	left: 0;
	transform: translate(-5px, -5px);
}
.cont_15 .text_box:nth-child(3) .bbar_circle{
	top: 116px;
  left: -32px;
}
.cont_16{
	position: relative;
	background: #fff;
	height: 2160px;
}
.cont_16 .cont_title{
	display: block;
}
.cont_16 img{
	margin-top: 220px;
	z-index: 100;
	box-shadow: 12px 20px 15px #00000008;
}

.cont_16 .circle{
	position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 250px);
	width: 1000px;
	height: 1000px;
	background: #fcae27;
	border-radius: 500px;
	animation: big 2s linear 1;
	z-index: 0;
}
@keyframes big {
  0% { transform: translate(-50%, 250px) scale(0);}
  100% { transform: translate(-50%, 250px) scale(1); }
}
.cont_16 .circle p{
	font-size: 22px;
	font-weight: 900;
	text-align: left;
	position: absolute;
	bottom: 130px;
	right: 110px;
}
.cont_17{
	background: #fff;
}
.cont_17 .cont_title{
	display: block;
}
.cont_17 img{
	margin-top: 220px;
	z-index: 100;
	box-shadow: 12px 20px 15px #00000008;
}

.cont_18{}
.cont_19{}
.cont_20{}

.cont_end{
	background: url(../img/2.모바일_28.jpg);
}
